<!-- <p>sidenav works!</p> -->

      
        <!-- <div class="justify-content-left"> -->
            <div class="container">
                <!-- <div class="drowpdownlink"> -->
                <div class="accordion-menu">
                <div class="sidenav-content">
                    <ul class="sidenav-nav">
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="mission/" >Mission</a></li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="objective/">Objective</a></li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="keshar-parvat">Keshar patvat</a></li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="supporting-organization">Supporting Organization</a></li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="governing-board">Governing Board</a></li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="follow-members">Follow Members</a></li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="annual-members">Annual Members</a></li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="be-our-editor">Be Our Editor</a></li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="work-as-reviewer">Work as Reviewer</a></li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="awards-for-good-research">Award For good Research</a></li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="careers-in-research">Careers in Research</a></li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active"  routerLink="work-for-us/">Work for Us</a></li>
                    </ul>
                </div>
            </div> 
            <!-- <app-header></app-header> -->
            <br>
            <hr/>

            <h2>Notice</h2>
            <br>
            <div id="text">
            For better services and efficiency,
            we will publish our journals online around the 15th of the month from the year 2023.
            For example, the February issue will be published by us on 15th January online and so on. 
            The January 2023 issue will be published online on 15th December 2022.
            </div>
   
        <br>
            <hr/>
            <h2>News Flash</h2>
            <br>
            <div id="text">
                <marquee scrollamount="3" onmouseover="this.stop()" onmouseout="this.start()" behavior="scroll" direction="up" align="center">
                    <img src="../../assets/images/PressNews01.jpeg" alt="newspaper" height="175px" width="100%">
                    <br>
                    <br>
                    <img src="../../assets/images/PressNews02.jpeg" alt="newspaper" height="175" width="100%">
                    <br>
                    <br>
                    <img src="../../assets/images/PressNews03.jpeg" alt="newspaper" height="175" width="100%">
                    <br>
                    <br>
                    <img src="../../assets/images/ash.jpg" alt="newspaper" height="175" width="100%">
                    <br>
                    <br>
                    <img src="../../assets/images/a32.jpj.jfif" alt="newspaper" height="175" width="100%">
                </marquee>
                </div>
            </div>
        <!-- </div> -->

        

   
 <!-- <section class="site-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 site-title">
                <h3 class="title-text"> <u>Our Services</u></h3>
            </div>       
            <div class="col-lg-6">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>       
        </div>
        <div class="item">
        <div class="row">
            <div class="col-lg-6 col-md-12 ">
              <img src="../../assets/images/communication-img.jpg" alt="table booking" class="img-fluid" height="250px" width="350px">
            </div>       
            <div class="col-lg-6">
                <br>   <br/>
                <h2>advanced table booking ----</h2>
                   <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>   

            <div class="col-lg-6  col-md-12">
                <h2>Food for Free  <br>-----24/7</h2>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>    
         </div> 
         <div class="col-lg-6 col-md-12 ">
            <img src="../../assets/images/spoon.jpg" alt="table booking" class="img-fluid" height="200px" width="300px">
          </div> 
          <div class="col-lg-6 col-md-12 ">
            <img src="../../assets/images/food-delivery.jpg" alt="table booking" class="img-fluid" height="250px" width="350px">
          </div>       
          <div class="col-lg-6">
              <br>   <br/>
              <h2> Free home delivery at your door step </h2>
                 <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
    </div>
</div>
 </section>  -->
<router-outlet></router-outlet>