<!-- <p>association works!</p> -->

<div class="container">
    <h3>
        Welcome to WRA
    </h3>
    
    <div class="family">
        <ul>
            <li id="i">
                We are pleased to introduce you "World Researchers Associations" (WRA), an international non-profit
                organisation for
            </li>
            <ol>
                <li>
                    Publishing E- journals in various fields of chemical sciences, biological sciences, natural and
                    man-made disasters, environmental sciences, agricultural sciences, management sciences etc. by
                    publishing manuscripts free of cost.
                </li>
                <li>
                    Promoting research and researchers all over the world.
                </li>
                <li>
                    Better environment to SAVE EARTH by converting barren land (Keshar hillock) near Indore into mini
                    forest through plantation of 50,000 trees and preservation of this mini forest. We have already
                    planted more than 30000 trees.
                </li>
                <li>
                    Cure of various diseases for poor people through research by treating them with various leaves,
                    flowers and fruits of different trees.
                </li>
                <li>
                    Trying to divert the attention of people towards Yoga, Meditation and Spiritualism.
                </li>
                <li>
                    Creating awareness about a better environment amongst school and college going students.
                </li>
                <li>
                    Creating scientific awareness for better research by promoting research in the fields of Life
                    Sciences, Physical Sciences, Environmental Sciences, Earth Sciences, Disasters, Engineering and
                    Technology, Management and Commerce, Food, Agriculture and Veterinary Sciences, Cosmetics Sciences,
                    Synergy, Medical Sciences, Pharmaceutical Sciences, Education, Nutrition, Health, Social Sciences,
                    Arts and Humanities, Law, Sports Sciences, Spiritual Sciences, Yoga, Advanced Computing and
                    Robotics, Languages and many more.
                </li>
            </ol>
        </ul>
    </div>
    <p>
                    We publish double peer reviewed bllind journals : Research Journal of Chemistry and Environment;
                    Research Journal of Bio Technology; Disaster Advances; Advances in Management; International
                    Research Journal for Quality in Education; Research Journal of Bioinformatics; NanoMatBioChemDev and
                    Global Research in Medical Sciences. We wish to add many more journals soon in different fields of
                    research in coming years. We do not believe in pay or paid journals. Pay journals block creative
                    research. We do not charge any kind of fees (open access contribution charge, publication charge,
                    processing charge etc.) for submission, acceptance and publication of manuscript for any of our
                    journals. Membership of our association is not compulsory for publication. Some of our journals are
                    at present indexed in SCOPUS, Chemical Abstracts Services, UGC, NAAS and Indian Citation Index etc.
                    We were indexed with SCI earlier and we hope to get indexed with SCI and other agencies soon.
                </p>
    
    <p>
        Join our present journals and coming journals as editors and reviewers. We will also recommend your name to
        other journals as reviewers and editors. We have a scheme of paying reviewers as well. Our manuscripts were also
        reviewed earlier through ScholarOne (unit of Thomson Reuters/Clarivate Analytics). We have started reviewing
        services of our own because we have a good database of reviewers.
    </p>
    <p id="red">
        We are pleased to inform you that the World Business 'n Economy Congress at Indore, INDIA from 15th to 17th
        February 2019 organized by World Researchers Associations was a grand success. Congress was inaugurated by Mrs.
        Aishwarya Rai Bachchan, leading actress and Dr. G. Madhavan Nair, Ex Chairman ISRO. Dr. R. Chidambaram, Ex
        Scientific Adviser to PM Modi Ji was Chief Guest at Valedictory function.
    </p>
    <p id="blue">
        Our mission is Save Environment; Save Earth. We hope to plant 50000 trees in the coming 18 months with
        cooperation from you all. We have already planted 30,000 trees from June 2018 to June 2021 at Keshar Parvat,
        near Mhow, Indore. Individuals and various organisations of the world are requested to support us in this drive.
        We accept donations for plantation of various trees @ Rs. 1000/- per plant (minimum 01 plant to any number).\
        We also guide young researchers for making careers in research in different fields and we will provide services
        of experts of the fields to researchers.
    </p>
        Our website is <a href=" www.worldresearchersassociations.com "> www.worldresearchersassociations.com </a>(One can also type <a href=" www.woreas.com">www.woreas.com</a>); 
        Please contact us for
        any query at: <a href=" info@worldresearchersassociations.com">info@worldresearchersassociations.com</a>
<p>
        Our objective is to promote noble cause of research in all fields of knowledge; to keep everyone connected with
        latest research in any field; to provide a bigger platform for interaction; to help young researchers in
        achieving their goals in making research as their careers and in completing their projects; to assist them in
        publication of their research work and to assist them financially as well if they are doing quality research.
    </p>
    <p>

        We wish that all researchers, professors, scientists, engineers, doctors, lawyers, research institutes,
        industries, various universities and colleges, conference organisers etc. should join us for the noble cause of
        research and environment for the benefit of society and mankind.
    </p>

    <p id="blue1">
        We do collaborate with other conference organizers of the world to publish proceedings and special issues of
        their conferences.
    </p>
    <p>
        We have two types of memberships. Of course, membership of association is optional for publication of
        manuscripts in WRA journals.Through annual and fellow members, we will promote research and environment and will
        support young researchers in their projects, paper publication, conferences and so on.
    </p>
    <p>
        1. Fellow (Life) Membership- FWRA - Fellow of World Researchers Associations : To be paid only once (Rs. 25000/-
        for Indians; US$ 2500 for internationals) and you can write FWRA for life time e.g. Dr. J. Garg, Ph.D., FWRA.
        Fellow membership has many benefits.
    </p>
    <p>
        2. Annual Membership- MWRA- Annual Member of World Researchers Associations : To be renewed every year (Rs.
        5000/- for Indians; US$ 500 for internationals) and you can write MWRA for that period e.g. Dr. Aliya Hasanah,
        Ph.D., MWRA.
    </p>
    <p id="bold">
        We have organized successful conferences in India and abroad at Kuwait, Dubai, Belgium, China, Malaysia,
        Thailand, Romania and so on. We try to organize conferences every year either in India or abroad from 2001. We
        have invited Hon’ble Ex-President Dr. APJ Kalam, Scientists Dr. Vasant Gowariker, Shri R.N. Agrawal, Dr. Anil
        Kakodkar and Dr. Sivaram, Princess of Thailand, Ministers of Kuwait, Consulate Generals, Governors, Lt. Generals
        of Army Staff, Spiritual leaders like Sri Sri Ravishankar, Bhaiyyu Maharaj, Famous singers like Pankaj Udhas,
        Tipaniaji and Kunal Ganjawala, Reputed instrument players like Zakir Hussain, Pandit Shiv Sharma, Hariprasad
        Chaurasia, Vishwamohan Bhatt, Film personalities like Hema Malini and Ashutosh Rana, Sports personalities like
        Rajyavardhan Singh Rathore, Journalists like Prabhu Chawla, Literary people like Neeraj, Rahat Indori, Surendra
        Sharma, Bashir Badra, Yoga Guru Dr. Nagendra and Dr. Hansa Jaydev etc. at various occasions and they have graced
        us by their presence and appreciated our work very much.
    </p>
    <p>
        Please request your friends, colleagues and students to contribute manuscripts free of cost to ourJournals and
        join our association WRA for promotion of research and environment.
    </p> 
</div>
