<!-- <p>header works</p> -->
<div class="container">
  <link href="https://fonts.googleapis.com/css2?family=Kalam&family=Poppins:wght@100;200;300&display=swap" rel="stylesheet">
  <div class="row justify-content-center ">
    <div class="col-md-12">
      <nav class="navbar navbar-expand navbar-dark br-#ddd px-3">
        <div class="header-text-lighc mr-2 br-dark">
          <img src="../../assets/images/WRALogoR.png" alt="earth" height="120px" width="210px">
        </div>
     <span class="item">
          <h1>World Researchers Associations</h1>
          <h5> Corporate Identity Number of WRA licensed by Govt. of India: U80902MP2018NPL045871;
            Income Tax PAN No. AACCW2124L; Niti Aayog Unique ID MP/2018/0209358
            Donations to WRA are exempted under 80-G.</h5>
          </span>
        <div class="header-text-ligh ml-2 br-dark">
          <img src="../../assets/images/Dr. Abdul Kalam.jpg" alt="Dr. Abdul Kalam" height="120px" width="150px" side="">
        </div>
      </nav>
    </div>
    <marquee scrollamount="5" onmouseover="this.stop()" onmouseout="this.start()" behavior="scroll" direction="left">
      <b>    
  Our journals are open access journals and no fees is charged for acceptance and publication. 
  Please adopt a tree by donating Rs. 7000/- for maintenance for 5 years for our 50000 trees plantation project.
      </b>
    </marquee>
  
  </div>

</div>