<div class="container">
    <div class="row justify-content-center ">
        <a href="http://www.worldresearchersassociation.com/" target="_blank" rel="nofollow" 
        style="color:white"; text-decoration:none; font-size:10px>
            © 2020-21 All Right Reserved By World Researchers Associations, Indore | Contact No.: +(91)-0731-4004000</a>
            <div>
                <marquee scrollamount="3" onmouseover="this.stop()" onmouseout="this.start()" behavior="scroll" direction="left" align="center">
                    <img src="../../assets/images/PressNews01.jpeg" alt="newspaper" height="175px" width="100%">
                    <br>
                    <br>
                    <img src="../../assets/images/PressNews02.jpeg" alt="newspaper" height="175" width="100%">
                    <br>
                    <br>
                    <img src="../../assets/images/PressNews03.jpeg" alt="newspaper" height="175" width="100%">
                    <br>
                    <br>
                    <img src="../../assets/images/ash.jpg" alt="newspaper" height="175" width="100%">
                    <br>
                    <br>
                    <img src="../../assets/images/a32.jpj.jfif" alt="newspaper" height="175" width="100%">
                </marquee>

            </div>
</div>