
<!-- <app-login></app-login> -->
<!-- <app-registration></app-registration> -->
<!-- <div class="containe">
    <html xmlns="http://www.w3.org/1999/xhtml" class="cufon-active cifon-ready"> -->
    <!-- <div class="container">
        <app-header></app-header>
         
    </div>
     <div class="container">
    <header class="headers" >
        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="association/">Association</a> </li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="journals/">Journals</a> </li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="our-policies/">Our Policy</a> </li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="membership/">Membership</a> </li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="online-payment/">Online Payment</a> </li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="downloads/">Downloads</a> </li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="glimpses/">Glimpses</a> </li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="contact/">Contact</a> </li>
            </ul>
        </nav>
    </header> 

    </div> -->
    <!-- <div class="container">
        <div class="row justify-content-left">
            <div class="col-md-2"> -->
                <!-- <app-sidenav></app-sidenav> -->
               
             <!-- <app-association></app-association> -->
    <!-- </div> -->

    <!-- <div class="col-md-8"> -->
        <!-- <div class="continer-fuield"></div> -->
        <div class="container">
            <header class="headers" >
                <nav>
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="currencyform/">currencyform</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="countryform/">countryform</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="stateform/">stateform</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="customerinformation/">Customerinformation</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="custbilldetails/">Custbilldetails</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="custcontacdetails/">Custcontacdetails</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="suppartydetails/">Suppartydetails</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="supbilldetails/">Supbilldetails</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="supcontactdetails/">Supcontactdetails</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="vendorpartydetails/">Vendorpartydetails</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="vendorbilldetails/">Vendorbilldetails</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="vendorcontactdetails/">Vendorcontactdetails</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="storeinfo/">Storeinfo</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="brandname/">Brandname</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="itemchategory/">Itemchategory</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="unitmeasurment/">Unitmeasurment</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="binlocation/">Binlocation</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="productionitem/">Produtionitem</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="boughtitem/">Boughtitem</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="jobwork/">jobwork</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="capitalgood/">Capitalgoods</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="duties/">Duties</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="taxinfo/">Taxinfo</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="transport/">Transport</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="godown/">Godown</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="machinetypes/">Machinetypes</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="machininfo/">Machininfo</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="machineidelcode/">Machineidelcode</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="machinemaintanance/">Machinemaintanance</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="productionstatuscode/">Productionstatuscode</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="process/">Process</a> </li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="vendorwiseprocess/">Vendorwiseprocess</a> </li>
                    </ul>
                </nav>
            </header> 
         </div>
         <hr>
         <br>
       <router-outlet></router-outlet>


         <!-- <app-currencyform></app-currencyform> -->
        <!-- <app-countryform></app-countryform> -->
        <!-- <app-stateform></app-stateform>  -->
      <!-- <app-customerinformation></app-customerinformation>  -->
      <!-- <app-custbilldetails></app-custbilldetails> -->
      <!-- <app-custcontacdetails></app-custcontacdetails> -->
      <!-- <app-suppartydetails></app-suppartydetails> -->
       <!-- <app-supbilldetails></app-app-supbilldetails>  -->
      <!-- <app-supcontactdetails></app-supcontactdetails> -->
       <!-- <app-vendorpartydetails></app-vendorpartydetails>  -->
      <!-- <app-vendorbilldetails></app-vendorbilldetails> -->
      <!-- <app-vendorcontactdetails></app-vendorcontactdetails> -->
        <!-- <app-employeedetails></app-employeedetails>  -->
        <!-- <app-storeinfo></app-storeinfo> -->
        <!-- <app-brandname></app-brandname> -->
        <!-- <app-itemchategory></app-itemchategory> -->

        <!-- <div class="container">
            <app-footer></app-footer>
        </div> -->
   

    <!-- </div>
</div>
  </div> -->


    <!-- </html> -->